@page "/403"
@layout MainLayout

<PageTitle>403 - Hozzaferes megtagadva</PageTitle>

<div class="tt-status-page">
    <h1>403</h1>
    <h2>Hozzaferes megtagadva</h2>
    <p>Nincs megfelelo jogosultsagod ehhez a tartalomhoz.</p>
    <a class="btn btn-primary" href="/app/projects">Ugras a projektlistara</a>
</div>
